@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lobster&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;

}
    div.scrollmenu {
      background-color: rgb(206, 209, 38);
      overflow: auto;
      white-space: nowrap;
      width: 99%;

    }
    
    div.scrollmenu a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }
    
    div.scrollmenu a:hover {
      background-color: rgb(197, 167, 35);
    }

.wrapper{
  width: 600px;
  background: rgb(233, 226, 156);
  border-radius: 55px;
  padding: 60px 20px 25px;
  box-shadow: 0 20px 55px rgba(202, 201, 184, 0.1);
  margin: 50px auto;
  padding: 50;
    margin-left: auto;
    margin-right: auto;

  
  
}
header, .content :where(i, p, span){
  color: #503f20;
}
.wrapper header{
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.wrapper .content{
  margin: 30px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
  margin-left: 10%;  
  margin-right: 10%;
}
.quote-area i:first-child{
  margin: 3px 10px 0 0;
}
.quote-area i:last-child{
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}
.quote-area .quote{
  font-size: 22px;
  text-align: center;
  word-break:initial;
  justify-content: center;
  display: flex;
}
.content .author{
  display: flex;
  font-size: 18px;
  margin-top: 30px;
  font-style: italic;
  justify-content: flex-end;
}
.author span:first-child{
  margin: -10px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons{
  border-top: 1px solid rgb(49, 49, 11); 
}
.buttons .features{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul{
  display: flex; 
}
.features ul li{
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #e98e16;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #ebbf2f;
  transition: all 0.3s ease;
}
.features ul li:first-child{
  margin-left: 0;
}
ul li:is(:hover, .active){
  color: rgb(250, 252, 248);
  background: #bad32daf;
}
ul .speech.active{
  pointer-events: none;


}


#background-video {
  width: 99%;
  height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  
  body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
  }

  
  h2 { font-size: 1rem; }
  
  @media (max-width: 50px) {
     
  }
  main {
    font-size: 1rem;
    margin-top: 50vh;
    padding: 8px;
    position: relative;
    text-align: center;
  }
  



  *{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
h2{
	position: relative;
	font-size: 55px;
	letter-spacing: 15px;
	color: #37420e;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	-webkit-box-reflect : below 1px linear-gradient(transparent , #0004);
	outline: none;
	animation: animate 5s linear infinite;
}
@keyframes animate{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #b7d434;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: rgb(73, 64, 14);
		text-shadow: 0 0 10px #686212,
		            0 0 20px #cac466,
		            0 0 40px #e4f403,
		            0 0 80px #a08a10,
		            0 0 160px #f4a003;

	}
}
